*~
.DS_Store
\#*#
*.pyc
.project
.pydevproject
pip-log.txt
ve/
src/pbs-plc/
dist/solr/logs/
dist/solr/solr/data/
media/deployed/
media/uploads/
media/compressed/
media/testing/
docs/_build/
coverage/
docs/modules/